body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
  border-left: none;
}

.timeslot {
  display: flex;
  border-bottom: 1px solid white; 
  border-right: 1px solid black;
}

.timeslot textarea {
  flex: 1;
  font-size: 1.1rem;
  font-weight: bold;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-size: 1.5rem;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-bottom: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-styling {
  padding: 20px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


.container {
  display: grid;
  grid-template-rows: repeat(9, 150px);
  width: 100%;
  max-height: 2050px;
}


.time-sub-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

